---
import "../styles/normalize.css";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact";
const heroClass = "contact-hero";
const heroIngress = "This is the hero ingress for the Contact page";
---

<BaseLayout pageTitle={pageTitle} heroClass={heroClass} heroIngress={heroIngress}>
	<h2>CONTACT</h2>
</BaseLayout>

