---
import "../styles/normalize.css";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Home";
const heroClass = "home-hero";
const heroIngress = "This is the hero ingress for the Home page";
---

<BaseLayout
	pageTitle={pageTitle}
	heroClass={heroClass}
	heroIngress={heroIngress}
>
	<section id="first-section">
		<h2>My awesome blog subtitle</h2>
		<Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
		<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	</section>
</BaseLayout>
	