---
import "../styles/normalize.css";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Portfolio";
const heroClass = "portfolio-hero";
const heroIngress = "This is the hero ingress for the Portfolio page";
---

<BaseLayout pageTitle={pageTitle} heroClass={heroClass} heroIngress={heroIngress}>
	<h2>PORTFOLIO</h2>
</BaseLayout>

