---

---
<header>
	<div id="header-wrapper">
		<a id="logo" href="/">Sondre.me</a>
		<nav>
			<div class="topnav">
				<ul id="myLinks">
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">About me</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<a id="hamburger" href="javascript:void(0);" class="icon">MENU</a>
			</div>
		</nav>
	</div>
</header>
